//Fontes

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?o2cnad');
  src:  url('../fonts/icomoon.eot?o2cnad#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?o2cnad') format('truetype'),
    url('../fonts/icomoon.woff?o2cnad') format('woff'),
    url('../fonts/icomoon.svg?o2cnad#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-home2:before {
  content: "\e901";
}
.icon-home3:before {
  content: "\e902";
}
.icon-office:before {
  content: "\e903";
}
.icon-users:before {
  content: "\e972";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}



//Cores

$verde_claro:  #b0c268;
$verde-escuro: #588276;
$branco:#ffffff;
$preto: #000000;
$cinza-escuro:#222222;

//Fontes

$fonte-1: 'Roboto Slab', serif;
$fonte-2: 'Yanone Kaffeesatz', sans-serif;

//Media queries

@mixin device($size) {
	@if $size == large {
		@media screen and (min-width: 960px){
			@content;
		}
	}
    @else if $size == medium {
		@media screen and (min-width:580px) and (max-width: 959px) {
			@content;
		}
	}
    
	@else if $size == small {
		@media screen and (max-width: 579px){
			@content;
		}
	}
}


@mixin d($size) {
	@if $size == l {
		@media screen and (min-width: #{$l-device}) {
			@content;
		}
	}
	@else if $size == m {
		@media screen and (min-width: #{$m-device}) and (max-width: #{$l-device} - 1) {
			@content;
		}
	}
	@else if $size == s {
		@media screen and (max-width: #{$m-device} - 1) {
			@content;
		}
	}
}